<md-table-container>
    <table md-table md-progress="$ctrl.promise">
        <thead md-head>
            <th md-column ng-repeat="el in $ctrl.headers">{{el}}</th>
        </thead>
        <tbody md-boby>
            <tr md-row ng-repeat="it in $ctrl.data track by $index">
                <td md-cell ng-repeat="key in $ctrl.headers" >{{it.row[0].variant[key]}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="[10, 20, 30]" md-page="$ctrl.query.page" md-total="{{$ctrl.count}}" md-on-paginate="$ctrl.getElems" md-page-select></md-table-pagination>