<md-dialog md-colors="{background: 'default-grey-200'}" >
  <md-toolbar layout="row" class="md-whiteframe-4dp">
    <div class="md-toolbar-tools" >
      <h2 style="color: white">Filters</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
        <md-icon md-font-set="material-icons" style="color: white"> clear </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" style="position:relative;width:800px; min-height:250px; max-height:810px;">
  <section layout="row" flex ng-show="$ctrl.filters == null" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</section>
  <form layout="row" flex name="filterTable" ng-show="$ctrl.filters != null" layout-padding>
<md-list>
    <md-list-item ng-repeat="el in $ctrl.filters.list track by $index" ng-switch="el.type" ng-show="$ctrl.show_header[$index]">
            
            <span ng-switch-when="numeric">
                <md-input-container>
                    <input ng-model="el.min" type="number"  aria-label="min value">
                </md-input-container>
                <md-label> &le; {{el.label}} &le; </md-label>
                <md-input-container>
                <input ng-model="el.max" type="number" aria-label="max value">
                </md-input-container>
            </span>


            <md-input-container ng-switch-when="string">
                <label>{{el.label}}</label>
                <input ng-model="el.value" md-maxlength="20" type="text" aria-label="search term">
            </md-input-container>
            
            <md-input-container ng-switch-when="boolean">
                <md-checkbox ng-model="el.value" aria-label="el.label">{{ el.label }}</md-checkbox>
            </md-input-container>

            <md-input-container ng-switch-when="select">
                <label>{{el.label}}</label>
                <md-select ng-model="el.value">
                    <md-option ng-value="null"> -- All -- </md-option>
                    <md-option ng-repeat="opt in el.options" ng-value="opt">
                        {{opt}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container ng-switch-when="autocomplete">
                
                <md-autocomplete md-floating-label="{{el.label}}" md-clear-button="true" md-autoselect md-selected-item="el.value" md-search-text="searchText" md-items="item in $ctrl.searchTerm(searchText, el)" md-item-text="item">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>
    </md-list-item>
</md-list>
    <div>
        
    </div>
</form>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-disabled="$ctrl.filters == null" ng-click="$ctrl.closeDialog('filters')">Submit</md-button>
  </md-dialog-actions>
</md-dialog>