<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Output Viewer</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./jspm_packages/github/daniel-nagy/md-data-table@master/dist/md-data-table.min.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
               aria-label="Show User List">
      <md-icon md-svg-icon="menu_icon"></md-icon>
    </md-button>
    <h1>Output Viewer</h1>
  </md-toolbar>

  <!-- Container #2 -->
  <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
      
      <!-- Menu -->
      <menu-list
          menu-items="app.menuItems"
          selected="app.selected"
          on-selected="app.logItem(item)">
      </menu-list>

    </md-sidenav>

    <!-- Container #4 -->
    <div flex layout="row">
      
      <md-content flex=70 class="content md-whiteframe-8dp" layout-margin layout-padding>
        <div id="table_container"></div>
        <table-data data="app.data"></table-data>
      </md-content>

      <div flex=30 layout="column">
        
        <md-card>
          <!--<img src="card-image.png" class="md-card-image" alt="image caption">-->
          <md-card-content>
            <h2>Seleziona un file</h2>
            <p>Selezionare il file che si intende visualizzare.</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ngf-select="app.upload($file)">Seleziona</md-button>
          </md-card-actions>
        </md-card>

<!--        <md-content flex="50" class="content md-whiteframe-2dp" layout-margin layout-padding>
          Posizione occupata dai filtri
        </md-content>-->

      <!-- Custom UserDetails component -->
      <!--<user-details
          selected="app.selected" >
      </user-details>-->
      </div>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
  </script>

</body>
</html>
