<!-- <section layout="row" layout-padding flex>
     <h1> Please select an experiment to show the list of file contained </h1>
</section>
<section layout-padding>
    <md-input-container>
    <label>Experiment</label>
    <md-select ng-model="$ctrl.query.experiment" ng-change="$ctrl.show()">
        <md-option ng-value="exp.name" ng-repeat="exp in $ctrl.experiments.rows">{{ exp.name }}</md-option>
    </md-select>
    </md-input-container>
</section>

<section layout="row" ng-show="$ctrl.query.experiment != null">
        <md-list flex  layout-padding>
            <ng-repeat ng-repeat="el in $ctrl.data.elements track by $index">
                <md-list-item href="#details/{{$ctrl.query.experiment}}/{{el.filename}}" flex aria-label="{{el.filename}}" class="md-whiteframe-4dp" md-colors="{background: 'background-A100'}">
                    <p>{{el.filename}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </ng-repeat>
        </md-list>
    </md-card-content>

</section> -->

<section layout="row" flex>
    <md-card layout="column" flex="70">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
            <span><input name="searchText" ng-model="$ctrl.term" placeholder="Filter by filename">  <md-icon md-font-set="material-icons"> search </md-icon></span>
            </div>
        </md-toolbar>
        <md-table-container>
        <table md-table md-progress="$ctrl.promise">
            <thead md-head>
                <tr md-row>
                    <th md-column ng-repeat="h in $ctrl.data.headers track by $index" ng-hide="$last">
                        <span md-colors="{color: 'default-primary-hue-2'}">{{ h }}</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body style="height:auto; max-height: 400px; overflow-y: auto">
                <tr md-row ng-repeat="row in  $ctrl.data.elements | filter: $ctrl.filter track by $index" ng-click="$ctrl.selected = row">
                    <td md-cell ng-repeat="el in row track by $index" ng-hide="$last">
                        <span>{{el}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    </md-card>

<section layout="column" flex="30">
    <md-card style="height:auto; max-height: 500px;">
        <md-card-header md-colors="{background: 'default-primary-hue-2-0.87', color: 'background-A100'}">
            <md-card-header-text>
                <span class="md-title">File Details</span>
                <span class="md-subhead">Select file to view its summary</span>
            </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content style="height:auto; max-height: 500px; overflow-y: auto">
            <md-list flex>
                <md-list-item ng-repeat="el in $ctrl.selected track by $index" class='md-2-line' ng-hide="$last">
                    <div class='md-list-item-text'>
                        <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">{{ $ctrl.data.headers[$index] }}</h3>
                        <em>{{ el }}</em>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="$ctrl.selected == null" href="{{$ctrl.data.base_url}}{{$ctrl.selected[$ctrl.selected.length -1]}}.data.gz" >Download CSV</md-button>
            <md-button class="md-accent md-raised" ng-disabled="$ctrl.selected == null" href="#details/{{$ctrl.selected[$ctrl.selected.length -1]}}">Open File</md-button>
        </md-card-actions>
    </md-card>
    </section>
</section>
