.logo {
  max-height: 192px;
}

.banner {
  max-height: 2 00px;
}

.logo-name {
  text-align: center;
}

.md-table tbody tr{
    transition: all 0.1s ease-in;
}
.md-table tbody tr:hover {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}
.tabs-wrapper {
    position: relative;
}
.full-size {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}